*~
.RData
.Rhistory

# don't backup data files (upload them to github)
*.csv
*.csv.*
*.dat
*.dat.*
*.nc
*.nc.*
*.rds
*.rds.*

# don't backup visualizations (upload them to github)
*.pdf

# pre-SCM backups
*.r.*
*.pdf.*
*.sh.*
