*~
.RData
.Rhistory

# don't backup data files (upload them to github)
*.csv
*.csv.*
*.dat
*.dat.*
*.nc
*.nc.*
*.ncf
*.ncf.*
*.rds
*.rds.*

# don't backup visualizations (upload them to github)
*.pdf

# don't backup pre-SCM backups
*.r.*
*.pdf.*
*.sh.*

# don't backup non-source code
*.o
gennet
netcdf2ioapi

# don't backup generated (by gennet) sources
readnet.f
readnet.for
